.profileDetailscontainer {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #dddddd;
}
.info {
  width: 80%;
  margin-left: 20px;
}
.lineOne {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.name {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}
.audio {
  width: 130px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid;
  border: 1px solid #222222;
  border-radius: 8px;
}
.audio p {
  font-size: 13px;
  font-weight: bold;
}
.followBtn {
  width: 82px;
  height: 32px;
  font-weight: 600;
  border: 1px solid;
  border: 1px solid #222222;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line two */
.lineTwo {
  margin: 20px 0;
  padding-bottom: 25px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dddddd;
}

/* lang and skill */
.lineLang,
.lineSkill {
  gap: 10px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #707070;
}

/* intro */
.personalIntro {
  font-weight: 500;
  font-size: 14px;
  margin: 8px 0;
}
.introAns {
  margin: 0 20px 0 0;
  font-weight: 400;
  font-size: 14px;
  text-justify: distribute;
  color: #616161;
  text-align: justify;
  text-justify: inter-word;
}
.picsContainer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;
}
.imgs {
  margin-right: 10px;
}
.leftArrow {
  position: absolute;
  left: -13px;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.actionBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .profileDetailscontainer {
    margin-top: 30px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info {
    width: 90vw;
  }

  .followers,
  .served,
  .exp {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .followers strong,
  .served strong,
  .exp strong {
    font-size: 20px;
  }
  .lineOne {
    flex-direction: column;
  }
  .lineTwo {
    width: 100%;
    justify-content: space-evenly;
  }
  .rightArrow {
    right: -10px;
  }
}
