.flex {
  display: inline;
}
.callnow {
  width: 30vw;
}
.callnowContainer {
  width: 248px;
  height: 217px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.priceContainer span strong {
  font-size: 20px;
}
.strikeoff {
  color: #979797;
  font-size: 20px;
  text-decoration: line-through;
}

.offerContainer {
  gap: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.offerContainer span {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #979797;
}
highlight {
  font-weight: 700;
  color: #965efb;
}
.starContainer {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
diff {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.callNowBtn {
  gap: 10px;
  width: 240px;
  height: 48px;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 23px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #6b17ff 0%, #7f11f6 100%);
}
.callNowBtnSmall {
  display: none;
}
@media screen and (max-width: 800px) {
  .callnow {
    width: 98vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;
    background-color: white;
  }
  .callnowContainer {
    width: 95vw;
    padding: 0 5px;
    height: 80px;
    border: none;
    border-radius: 0%;
    margin: 0%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .offerContainer {
    position: absolute;
    width: 100vw;
    top: -20px;
    background-color: white;
    border-bottom: 1px solid #979797;
  }
  .callNowBtn {
    width: 150px;
  }
  .priceContainer {
    gap: 10px;
    margin: 0%;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .starContainer {
    justify-content: flex-start;
  }
  diff {
    font-size: 17px;
  }
}
