.footerContainer {
  width: 98vw;
  /* height: 50vh; */
  /* background-color: aqua; */
  /* padding-top: 10px; */
  display: flex;
  justify-content: space-evenly;
}

/* links */
.footerLink {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.footerTitle {
  margin: 10px 0;
  color: rgb(94, 86, 86);
}
@media screen and (max-width: 800px) {
  .footerContainer {
    display: none;
  }
}
