.ratingsContaieer {
  width: 60vw;
}

/* stars container code goes here */

.starContainer {
  margin: 30px 0;
  gap: 50px;
  display: flex;
}
.ratingAvg {
  font-weight: 700;
  font-size: 48px;
}
.ratingTotal {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}

/* right container{
     */
.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.fiveStar {
  margin: 3px 0;
  display: flex;
  align-items: center;
}
.barContainer {
  margin-left: 5px;
  position: relative;
}
.star {
  margin: 0 2px;
}
.greyBar {
  width: 240px;
  height: 6.05px;
  background: #d8d8d8;
  border-radius: 40px;
}
.purpleBarFive {
  position: absolute;
  top: 0px;
  width: 230.65px;
  height: 6.05px;
  background: #965efb;
  border-radius: 40px;
}
.purpleBarFour {
  position: absolute;
  top: 0px;
  width: 200.65px;
  height: 6.05px;
  background: #965efb;
  border-radius: 40px;
}
.purpleBarThree {
  position: absolute;
  top: 0px;
  width: 150.65px;
  height: 6.05px;
  background: #965efb;
  border-radius: 40px;
}
.purpleBarTwo {
  position: absolute;
  top: 0px;
  width: 100.65px;
  height: 6.05px;
  background: #965efb;
  border-radius: 40px;
}
.purpleBarOne {
  position: absolute;
  top: 0px;
  width: 50.65px;
  height: 6.05px;
  background: #965efb;
  border-radius: 40px;
}

/* review css */
.reviewContainer {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dddddd;
}
.reviewOne {
  margin: 20px 0;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.headerNameTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerName {
  font-weight: 600;
  font-size: 13px;
}
.headerTime {
  font-weight: 400;
  font-size: 12px;
  color: #8f8f8f;
}
.review {
  margin: 10px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #707070;
  text-align: justify;
  text-justify: inter-word;
}
.reviewLaterContainer {
  padding: 10px 0;
}
.reviewLater {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
}
.reviewLaterMsg {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #707070;
}
.astrologerMgsContainer {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 8px;
}
.astrologerMgsContainerHeader {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #222222;
}
.astrologerMgsContainerMsg {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #222222;
}
.checkMore {
  width: 324px;
  height: 48px;
  border: 1px solid #222222;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
}

/* review page */
.reviewPage {
  scroll-behavior: smooth;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviewPageNavbar {
  width: 97vw;
  height: 80px;
  margin: 0 20px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dddddd;
}
.borderBtm {
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid #dddddd;
}
.loading {
  margin: 20px;
  transition: all;
}
.crHidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .ratingsContaieer {
    width: 90vw;
    margin-left: 5vw;
  }

  .reviewPageNavbar {
    width: 90%;
  }
  .starContainer {
    width: 99%;
    gap: 10px;
    overflow: hidden;
  }
  .greyBar {
    width: 160px;
  }
  .purpleBarFive {
    width: 130.65px;
  }
  .purpleBarFour {
    width: 100.65px;
  }
  .purpleBarThree {
    width: 80.65px;
  }
  .purpleBarTwo {
    width: 60.65px;
  }
  .purpleBarOne {
    width: 40.65px;
  }
  .reviewPage {
    width: 90%;
  }
  .shown {
    display: none;
  }
  .crHidden {
    display: inline;
  }
}
